<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell">
                    <a href="{{relativeURL "index.html"}}" class="title">{{project.name}}</a>
                </div>
            </div>
        </div>
    </div>
</header>