{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "@saji/brace-rules"
    ],
    "rules": {
        "array-bracket-spacing": "error",
        "brace-style": "off",
        "@saji/brace-rules/brace-on-same-line": [
            "error",
            "1tbs",
            {
                "ClassDeclaration": "never",
                "ExportClass": "never",
                "ExportClassAnon": "never",
                "ExportFunctionAnon": "never",
                "FunctionDeclaration": "never",
                "MethodDeclaration": "never"
            }
        ],
        "indent": "off",
        "@typescript-eslint/indent": [
            "error",
            "tab"
        ],
        "keyword-spacing": "error",
        "linebreak-style": [
            "error",
            "windows"
        ],
        "lines-between-class-members": [
            "error",
            "always", {
                "exceptAfterSingleLine": true
            }
        ],
        // "@typescript-eslint/member-ordering": [
        //     "error",
        //     {
        //         "default": {
        //             "memberTypes": [
        //                 "public-static-field",
        //                 "protected-static-field",
        //                 "private-static-field",

        //                 "public-instance-field",
        //                 "protected-instance-field",
        //                 "private-instance-field",


        //                 "constructor",


        //                 "public-static-method",
        //                 "protected-static-method",
        //                 "private-static-method",

        //                 "public-instance-method",
        //                 "protected-instance-method",
        //                 "private-instance-method"
        //             ],
        //             "order": "alphabetically"
        //         }
        //     }
        // ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "args": "none"
            }
        ],
        "no-prototype-builtins": "off",
        "no-trailing-spaces": "error",
        "object-curly-spacing": "error",
        "quotes": "error",
        "semi": "error",
        "space-before-blocks": "error",
        "space-in-parens": "error",
        "space-infix-ops": [
            "error",
            {
                "int32Hint": true
            }
        ],
        "space-unary-ops": "error",
        "@typescript-eslint/type-annotation-spacing": [
            "error",
            {
                "before": false,
                "after": false,
                "overrides": {
                    "arrow": {
                        "before": true,
                        "after": true
                    }
                }
            }
        ]
    }
}