# Build and Release Folders
node_modules/
jspm_packages/

# Dev files
npm-debug.log
tests/
docs/
.travis.yml

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.idea/
.project
.DS_Store
*.iml